<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glebe House</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lora&effect=outline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" crossorigin="anonymous">
    <!-- Proj CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css">
</head>
<body>
    <header>
        <div class="container container-flex">
            <div class="vcard"> <!-- schema -->
                <div class="site-title">
                    <div class="font-effect-outline">
                    <h1 class="fn org">Glebe House &amp; Gallery</h1>
                    </div>
                    <p class="note subtitle">the historic home of renowned artist, <a href="#">Derek&nbsp;Hill</a> in Churchill, County Donegal.</p>
                </div>
                <div class="adr address-sml">
                    <div class="locality"><a href="/getting-here/"><i class="fas fa-directions"></i>&nbsp; Churchill, Letterkenny</a></div>
                    <div class="postal-code eircode"><a href="https://www.google.ie/maps/search/F92-WP70"><i class="fas fa-map-marker-alt"></i>&nbsp;Location</a></div>
                <!--    <div class="region">Co. Donegal</div>
                    <div class="postal-code eircode"><a href="https://www.google.ie/maps/search/F92-WP70"><i class="fas fa-map-marker-alt"></i>  F92 WP70</a></div>
                    <div class="country-name">Ireland</div> -->
                </div>
                <div style="text-align: left; border: 1px solid var(--grey); border-left:0; border-right: 0;">
                    <h2><a href="/opening-hours/"><i class="far fa-clock"></i>&nbsp;Opening Hours</a> <!-- open today --> (Nov-Apr): 11:00 &ndash; 17:30 &mdash; last house tour 16:30</h2>
          
                    
                </div>
        
                <div class="tel tel-sml"><span class="organization-unit">Information &amp; <a href="/contact/">Group Tours</a></span><br>
                <a href="tel:+353749137071"><i class="fas fa-phone-alt"></i> +353 74 913 7071</a></div>
                <div class="tel tel-sml"><span class="organization-unit">Glebe Tea Rooms</span><br>
                    <a href="tel:+353749137071"><i class="fas fa-mug-hot"></i> +353 87 329 7169</a></div>


                <!-- /.vcard -->
            </div>
      
        <!-- /.container -->
            <nav>
                <ul>
                  <!--  <li><a href="/getting-here/">Getting Here</a></li> -->
                    <li><a href="/house-history/">Glebe House</a></li>
                    <li><a href="/glebe-gallery-and-collection/">The Derek&nbsp;Hill Collection</a></li>
                    <li><a href="/events/">Glebe Gallery &amp;&nbsp;Events</a></li>
                   <!-- <li><a href="/derek-hill-and-the-tory-island-painters/">Derek Hill &amp;&nbsp;the Tory Island Painters</a></li> -->
                    <li><a href="/glebe-gardens-and-tearooms/">The Gardens &amp;&nbsp;Tea-Rooms</a></li>
                  <!--  <li><a href="/contact/">Educational &amp; Group Tours</a></li> 
                    <li><a href="/events-at-glebe-gallery/">Events at Glebe</a></li>
                    <li><a href="/region-donegal-national-park/">Donegal National Park</a></li>-->
                </ul>
            </nav>
        </div>
    </header>

    {{ content | safe }}

    <footer>

    </footer>
</body>
</html>