{% extends "base.njk" %}

{% block main %}
<main>
  {{ content | safe }}
</main>
{% endblock %}

{% block aside %}
 <aside class="sidebar">
        <div class="sidebar-widget">
                <h2>Who was Derek Hil</h2>
            </div>
     
    </aside>
{% endblock %}