/* root vars (colors) */
:root {
    --white: #fff;
    --warm-grey: #EBEBEB;
    --warm-light-grey: #F8F8F8;
    --light-blue: #1792D2;
    --dark-blue: #143774;
    --grey: rgb(156, 156, 156);
    --dark-grey: #5c5c5c;
    --black: #090909;
    --lightest-blue: rgb(189, 240, 253);
    --sky-blue: #086ac7;
    --donegal-green: rgb(12, 87, 9);
    --dark-orange: rgb(211, 69, 3);
    --orange: orange;
    --offwhite-blue: rgb(255, 244, 233);
  }

  * {
    box-sizing: border-box;
  }
  
  
body {
      margin: 0;
      padding: 0;
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.125rem;
      font-weight: 300; /* light font-weight */
      color: var(--dark-grey);
      background: var(--offwhite-blue);
  }
  
figure, img {
  max-width: 100%;
  display: block;
  }
  
figure {
    margin: 0;
  }

/* debug style */
  .red {border: 1px solid red;}

/* =================
  Typography
  ================= */
  
  
h1 {
    color: #fff;
    font-family: 'Lora', serif;
    font-size: 2rem;
    margin: 0;
    margin-left: 1rem;
  }

 .home h1 {
      font-size: 36px;
  }


h1 a {
    color: inherit;
    text-decoration: none;
  }

  h1 a:hover,
  h1 a:focus {
  color: var(--lightest-blue);
  border-bottom: 2px solid var(--lightest-blue);
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  dt  {
      font-family: 'Lora', serif;
      font-weight: 400;
      color: var(--dark-grey);
      margin-top: 0;
  }
  
  
  h2 {
    color: var(--donegal-green);
    font-size: 1.5rem;
  }
  
  header h2 {
    margin-top: 1em;
    font-family: 'Ubuntu', sans-serif;
    color: var(--grey);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .75em;
  }

  h3 {
    font-size: 1.2rem;
  }
  
  a {
      color: var(--light-blue);
  }
  
  a:hover,
  a:focus {
    color: var(--dark-blue);
  }
  
  strong {
    /* bold 700 or bolder */
    font-weight: 700;
  }

  /* type modifiers */
  .site-title {
    text-align: left;
  }

  .subtitle {
      font-weight: 400;
      color: var(--black);
      font-size: 1.1rem;
      line-height: 1.8em;
      margin: 1em;
      margin-top: .5em;
  }

  .subtitle span {
    padding: 0.3em 1em 0.4em 0.5em;
    background: rgba(255, 255, 255, 0.7);
    /* background-blend-mode: overlay; */
    border-radius: 3px;
  }

  .subtitle a{
    letter-spacing: 0.05em;
    color: var(--black);
    text-decoration: none;
    border-bottom: 1px dotted var(--black);
  }

  .subtitle a:hover, .subtitle a:focus {
    color: var(--dark-orange);
    background: rgb(250, 240, 128);\
    border-bottom: 1px dotted var(--dark-orange);
  }


/* =================
Layout
================= */

#header-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: rgba(177, 171, 106, 0.5);
  background-image: url("../img/x060407-Glebe-House-T-001.jpg");
  background-position-x: 66%;
  background-position-y: 33%;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  width: 100%;
  height: 50%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2em;
  min-height: 50vh;
  padding: 0;
}




.container {
    width: 96%;
    max-width: 900px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



.key-info {
  background-color: rgba(4, 95, 199, 0.8);
  border-left: 0;
  border-right: 0;
  padding: 0.25em;
  display: flex;
  justify-self: flex-start;
  margin-bottom: auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  order: -1;
  color: var(--white);
}



.key-info a:link, .key-info a:visited  {
  color: var(--lightest-blue);
  text-decoration: none;
}



.key-info a:hover, .key-info a:focus  {
  color: var(--orange);
  text-decoration: none;
}

/*
.key-info a span {
  border-bottom: none;
}

*/

a:link .under-dotted, a:visited .under-dotted {
  border-bottom: 1px dotted var(--lightest-blue);
}

a:hover .under-dotted, a:focus .under-dotted {
  border-bottom: 1px dotted var(--orange);
}

.opening-times {
  text-align: left;
  margin: 0;
  padding: 0.2em;
}

.key-item {
  //flex: 1;
}

.key-item ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  justify-content: baseline;
}

.key-item li{
  text-align: right;
  margin-left: 0;
  padding: 0.2em;
}


.site-title {

}

.site-title, header nav {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

nav ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav li {
    background: var(--offwhite-blue);
    flex: 1;
    //border-left: 1px solid grey;
    /* https://css-tricks.com/notched-boxes/ || bennettfeely.com/clippy/ */
    clip-path: 
      polygon(
        0% 0%, /* 0,0 (tl,tl) */
        calc(100% - 20px) 0%, /* (tr, tr) */
        calc(100% - 0.5px) 20px, /* (tr, tr) create tiny right gap */
        calc(100% - 0.5px) 101%, /* (br, br) */
        0% 101%);  /* (bl, bl) rid of tiny gap */
    border-bottom: 2px solid var(--offwhite-blue);
}

nav a {
  z-index: 1;
    display: inline-block;
    text-decoration: none;
    color: var(--donegal-green);
    font-weight: 700;
    padding: 2em 1em 2em;
}

nav a:hover,
nav a:focus {
    color: var(--dark-orange);
}

.current-page {
    border-bottom: 1px solid var(--grey);
}

.current-page:hover {
    color: var(--grey);
}

.divider {
  background-color: var(--grey);
  width: 40ch;
  height: 2px;
  border: 0;
  margin: 2em auto;
  //text-align: center;
}

.section-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.section-card-img {
  object-fit: cover;
  flex-basis: 33%;
  min-height: 0;
  min-width: 0;
}


@media (min-width: 675px){
  .container-flex {
    flex-direction: row;
  }
  main {
    width: auto; /* prev 66% with aside */
  }
  /*
  figure{
    width: 30%;
    min-width: 220px;
    margin-left: 1em;
    font-size: 0.8em;
  }
*/
  .two-col {
    display: flex;
    flex-basis: 48%;
    justify-content: space-between;
    align-items: stretch;
  }

  .two-col figure {
    width: 100%;
    border: 1px blue dotted;
    display: flex;
    flex-direction: column;
  }

  .two-col figure img {
    object-fit: cover;
    flex-basis: 350px;
    min-height: 0;
    min-width: 0;
  }

  .half-col {
    width: auto;
  }

  .section-card {
    flex-direction: row;
    //align-items: stretch;
  }
  .section-card-img {
    height: 350px;
  }
  
  .section-card-content {
    flex-basis: 70%;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid red;
  }

  .section-card-content h3 {
    margin-bottom: 0;
  }
  .section-card-content p {
    border:1px blue dotted;
  }

     
  .group > p {
    margin-top: 0;
  }

  .group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }


  .float-text-left > h3,
  .float-text-left p {
    width: 65%;
  }

  .float-text-left img,
  .float-text-left figure {
    width: 33%;
    float: right;
    clear: right;
  }

  .float-text-left figure img {
    width: 100%;
    display: block;
  }

  .float-text-left figcaption {
    clear: both;
    font-size: 0.8rem;
  }


  .float-text-right figure {
    position: relative;
    float: left;
  }

  .float-text-right img,
  .float-text-right figure {
    width: 50%;
    float: left;
  }

  .float-text-right figure img {
    width: 100%;
  }

  .float-text-right figcaption {
    font-size: 0.8rem;
    padding: 0.5em 0.8em;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    color: white;
    float: left;
  }

  .float-text-right > p {
    width: 48%;
    float: right;
  }

}




.sidebar-widget {
  border: 0.5em solid var(--donegal-green);
  border-radius: 0.25em;
  padding: 0 1.75em;
  margin-bottom: 3em;
}



footer {
  margin-top: 2em;
  background-color: var(--donegal-green);
  color: var(--white);
  padding: 1.5em 0 4em;
  text-align: center;
}

.opening-section {
 flex-flow: row wrap;
 // max-height: 800px;
 // border:1px solid blue;
 // justify-content: flex-start;
 // align-items: flex-start;
}

.otimes {
  flex: 0 0 50%;
}

.ot-1 {
  //height: 100%;
 /* background-color: red;
  float: left;
  width: calc(50% + 1px); */
}
.ot-2 {
  /*background-color: lightblue;
  min-height: 300px;
  float: right;
  clear: right;
  width: calc(50% - 1px); */
}
.ot-3 {
 /* background-color: lightgreen;
  float: right;
  width: calc(50% - 1px); */
}
/*
.otimes:first-child{
  //margin-right: 1em;
  border: 1px solid red;
  min-height: 400px;
}

.otimes, .booking-section div {
  
  width: 50%;
}

.otimes {
  flex: 0 0 50%;
  font-size: 0.85em;
  background: pink;
}

.otimes:first-child {
  //padding-right: 1em;
}

.otimes:nth-child(2){
  padding-left: 1em;
  //order: 5;
}

.o-last {
  //display: inline-block;
  //float: right;
  //order: 0;
  //flex: 0 0 300px;
  background: plum;
  //flex: 0 0 300px;
  //justify-self: flex-end;
}
*/
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -20px;
}
ul.dashed > li:before {
  content: "\2013";
  text-indent: -5px;
}

.ticket-price {
  display: inline-block;
  width: 4ch;
  text-align: right;
  font-size: 1.1em;
  font-weight: 400;
}


/* navigation */

dl {
//  border: 1px solid blue;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

dt {
  font-size: 1.25rem;
  font-weight: 400;
}
dt::after {
  content: ": ";
}
dd, dt {
  line-height: 1.75em;
}
dd {
  margin-left: 0.75em;
}

dd:last-of-type {
  font-size: 0.85em;
  padding: 0.25em;
  border-radius: 3px;
  background: rgba(211, 69, 3, 0.1);
  width: 40ch;
  margin: auto 0.75em 0;
  //align-self: flex-end;
 }

 .ot-2 dd:last-of-type {
   margin-top: 1.5em;
 }


 form {
  background: MistyRose;
  padding: 2em;
  border-radius: 10px;
}

label:after {
  content: " ";
}

label {
//  display: block;
  border:1px dotted red;
  width: 12ch;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea, 
select {
  margin-bottom: 1em;
  padding: .25em 0.5em;
  border: 1px solid brown;
  background: var(--offwhite-blue);
}

input, select {
  font-family: inherit;
  text-align: inherit;
  font-size: 0.85em;
}

input,
select, 
textarea,
button {
  border-radius: 3px;
  transform: scale(1);
}

input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  border:2px solid var(--dark-orange);
}

input:focus:not([type="date"]),
select:focus,
textarea:focus {
  outline: none !important;
  border:2px solid var(--dark-orange);
}

input:focus[type="radio"] {

  background: transparent;
  box-shadow: 0 0 10px var(--dark-orange);
  // can't make square go away - Chrome Windows bug
}

input[type="radio"]{
  margin-right: 8px;
}

button {
  background: var(--dark-orange);
  color: white;
  border: 2px solid var(--dark-orange);
  padding: 0.4em 1em;
  font-size: 1.125em;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 2px;
  transition: border 500ms ease-in-out,
              background 500ms ease-in-out,
              transform 200ms ease-in-out;              ;
  // transform: scale(1);
}

button:hover,
button:focus {
  background: var(--donegal-green);
  border: 2px solid var(--donegal-green);
  transform: scale(1.05);
}

.form-block-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.half-col {
  width: 100%;
  border: 1px solid pink;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

fieldset {
  padding: 0;
  border: none;
}

.col-mobile {
 // border: 1px solid black;
  justify-content: space-between;
}


.label-full-width
{
  width: 100%;
  display: block;
}

.col-mobile,
.form-block-3 div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border: 1px dashed black;
  flex-grow: 1;
}

.form-block-3 label {
  width: auto;
}


.article-recent {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.article-recent-main {
  order: 2;
}

.article-recent-secondary {
  order: 1;
}


@media (min-width: 675px) {
  .article-recent {
    flex-direction: row;
    justify-content: space-between;
  }
  .article-recent-main {
    order: 2;
    width: 67%;
  }
  .article-recent-secondary{
    order: 1;
    width: 30%;
  }

  .article-image {
    width: 100%;
    min-height: 250px;
    object-fit: cover;
    object-position: center;
   /* object-position: left; */
  }

  .article-featured {
    display: flex;
    flex-direction: column;
  }
  .article-title {
    order: -3;
  }

  .article-image {
    order: -2;
  }

  .article-info {
    order: -1;
    margin: 1em 0;
  }

  .article-body {
    order: 1;
    margin-top: 0;
  }

  .article-featured .article-read-more {
    width: 100%;
    height: 100%;
    order: 2;
    object-fit: initial;
  }
}


/*
label[for="mobile"]{
  width: 100%;
}

#mobile {
//  align-self: flex-end;
}
*/
@media(max-width: 900px){
  .key-numbers {
    white-space: pre-line;
  }

}

@media(min-width: 800px){
  .half-col {
    width: 48%;
  }
}

@media(min-width: 600px){
  .form-block-3 label {
    margin-right: 1em;
  }
  .col-mobile,
  .form-block-3 div {
    justify-content: flex-start;
  }
}

@media (max-width: 675px){
  
  .container {
    margin: auto;
  }

  .container-flex {
    flex-direction: row;
  }


  header {
    justify-content: flex-end;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .site-title, header nav {
    width: 100%;
    margin: 0;
    padding: 0;
  }



  .key-info {
    order: 0;
    margin-bottom: 0;
    background-color: rgba(4, 95, 199, 1);
  }
  .key-times {
    order: 0;
  }

  .key-info ul {
    align-items: flex-end; 
  }

  .site-title {
    text-align: center;
  }

  .opening-times {
    font-size: 0.9rem;
    white-space: pre-line;
    margin-bottom: 0; 
  }


  
  .key-item ul {
    justify-content: space-around;
  }
  .key-item span.sr {
    position: absolute !important; /* Outside DOM */
    height: 1px; width: 1px; /* Nearly Collapsed */
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
  }


  nav ul {
      flex-direction: column;
      border: 1px solid grey;
      width: 100%;
  }

  nav li {
    clip-path: none;
      //margin: .5em 0;
      border-bottom: 1px solid grey;
  }

}

@media(max-width: 359px){
  body {
    font-size: 0.9rem;
    background: pink;
  }
  header {
    //height: 100vh;
    width: 100vw;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  #header-img {
    background-size: auto 100%;
  }

  .subtitle {
    margin: 0;
  }

}
